<!--This file acts as a wrapper around the code of other view files. Code of other view files is inserted into body variable of this layout file.-->

<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type='text/css' href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">

        <%- style -%>
        <!--This style variable inserts style of respective view into itself-->
    </head>
    <body>
        <%- include('_header'); -%>
        
        <main id="layout-main">
            <%- body %>
            
        </main>
        

        <%- include('_footer'); -%>

        <%- script -%>
        <!--This script variable inserts script of respective view into itself-->
    </body>
</html>